@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('assets/austinChanMedium.jpg') no-repeat center center/cover;
    position: absolute;
    top:-30px;
    left:-30px;
    width:calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index:-1;
    filter: blur(0px);
    
}

.loading-text{
    font-size:75px;
    color:black;
    top: 0;
    left: 0;
    
}

.enterButton {
    font-size:25px;
    background-color: rgb(53, 53, 53);
    border-radius:7px;
    padding: 10px;
    border:none;

    position: absolute;
    filter: opacity(100);
}

.enterButton a {
    font-size:25px;
    color:#ffffff;
    text-decoration: none;
}
.enterButton a:hover {
    color:#E82727;
}