.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1fr ;
    grid-template-areas:
    "cafeTitle cafeTitle cafeTitle cafeTitle"
    "image1 image1 image2 image2"
    "SB1 SB2 SB4 SB3"
    "image3 image3 image4 image4"
    "footer footer footer footer";
    grid-gap: 0.5rem;
    

}

#cafeTitle {
    border-bottom: 2px solid #E82727;
    grid-area: cafeTitle;
    padding:15px;
}

#sB1 {
    grid-area: SB1;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    align-content: center;  
    padding:15px;
}
#sB2 {
    grid-area: SB2;
    justify-content: center;
    padding:15px;

}
#sB3 {
  
    grid-area: SB3;
    padding:15px;
    text-align:center;
}
#sB4 {
    grid-area: SB4;
    padding:15px;
    
}


#image1 {
    margin-top:25px;
    margin-bottom:25px;
    
    grid-area:image1;
    text-align:center;
}
#image2 {
    margin-top:25px;
    margin-bottom:25px;
    
    grid-area:image2;
    text-align:center;
}
#image3 {

    grid-area:image3;
    text-align:center;
    align-self:center;
    margin-top:25px;
    margin-bottom:25px;
}
#image4 {

    grid-area:image4;
    text-align:left;
    align-items: bottom;
    align-self:end;
    margin-top:25px;
    margin-bottom:25px;
}




h1, h2 {
    font-family: 'Trueno';
        src: url('https://fontlibrary.org/face/trueno/assets/fonts/trueno/f6125819e866b78711583d68298888ac/cd99aa44944ccda068a4efecbce6dcf3/TruenoBlackItalic.otf') format('opentype');
        color:black;
}

h2 a:link {
    color:#E82727;
}
h2 a:hover{
    color: rgb(53, 53, 53);
}
h2 a:visited {
    color: rgb(139, 79, 149);
}

h3 {
    font-family: 'Trueno';
        src: url('https://fontlibrary.org/face/trueno/assets/fonts/trueno/f6125819e866b78711583d68298888ac/cd99aa44944ccda068a4efecbce6dcf3/TruenoBlackItalic.otf') format('opentype');
        color:#E82727;
}


p, li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    color:black;
    font-size:14px;
 }

.smileMug {
    max-width:20px;
    padding-right:5px;
  }


#footer {
    border-top: 2px solid #E82727;
    grid-area:footer;
}

@media only screen and (min-width: 551px) and (max-width:991px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "cafeTitle"
        "image1"
        "image2"
        "SB1"
        "SB2"
        "SB4"
        "SB3"
        "image3"
        "image4"
        "footer";
         
    }
    
}

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "cafeTitle"
        "image1"
        "image2"
        "SB1"
        "SB2"
        "SB4"
        "SB3"
        "image3"
        "image4"
        "footer";
         
    }
    
}