.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1fr ;
    grid-template-areas:
    "indioTitle indioTitle indioTitle indioTitle"
    "video1 video1 video1 video1"
    "SB1 SB2 SB3 SB4"
    
    "process1 process1 process2 process2"
    "storyline storyline storyline storyline"
    "summarize summarize summarize summarize"
    "targetuser targetuser calltoaction build"
    "footer footer footer footer";
    grid-gap: 0.5rem;
    

}

#indioTitle {
    border-bottom: 2px solid #d8761a;
    grid-area: indioTitle;
    padding:15px;
    margin:40px;
}

#video1 {
    margin:auto;
    grid-area:video1;
    text-align:center;
}

#sB1 {
    grid-area: SB1;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    align-content: center;  
    padding:15px;
    margin-top:25px;
}
#sB2 {
    grid-area: SB2;
    justify-content: center;
    padding:15px;
    margin-top:25px;
}
#sB3 {
  
    grid-area: SB3;
    padding:15px;
    
    margin-top:25px;
}
#sB4 {
    grid-area: SB4;
    padding:15px;
    margin-top:25px;
}

#process1 {
    grid-area: process1;
    justify-content: center;
    padding:15px;

}
#process2 {
    grid-area: process2;
    justify-content: center;
    padding:15px;

}



#storyline {
    grid-area:storyline;
    text-align:center;
    align-self:center;
    margin-top:25px;
    margin-bottom:25px;
}


#summarize {
    grid-area:summarize;
    align-self:center;
    padding:15px;
}
#targetuser{
    grid-area: targetuser;
    padding:15px
}

#calltoaction {
    grid-area: calltoaction;
    text-align:center;
    align-self:center;
    padding:15px
}

#build {
    grid-area: build;
    text-align:center;
    align-self:center;
    padding:15px
}


h1, h2 {
    font-family: 'monospace', sans-serif;
        color:black;
}



h3 {
    font-family: 'monospace', sans-serif;
        color:#d8761a;
}


p, li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    color:black;
    font-size:14px;
 }

.smileMug {
    max-width:20px;
    padding-right:5px;
  }


#footer {
    border-top: 2px solid #16bcda;
    grid-area:footer;
}

@media only screen and (min-width: 551px) and (max-width:991px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "indioTitle"
        "video1"
        "SB1"
        "SB2"
        "SB3"
        "SB4"
        "process1"
        "process2"
        "storyline"
        "image4"
        "footer";
         
    }
    
}

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "cafeTitle"
        "image1"
        "image2"
        "SB1"
        "SB2"
        "SB4"
        "SB3"
        "image3"
        "image4"
        "footer";
         
    }
    
}