@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    font-size:62.5%;
    font-family: 'Roboto,' sans-serif;
}
li {
    list-style: none;
}

a {
    text-decoration:none;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding:0;
    background-color: #212121;
    color:white;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.header{
    border-bottom: .2rem solid #0d7377;
    box-shadow:
            0 0.62rem 1.688rem 0 #000000;
    margin: auto 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
width:100%;
    padding: 2rem 2.5rem;
    background-color:#323232;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 1.563rem;
    height: 0.188rem;
    margin: 0.313rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
}

.nav-link:hover{
    color: #8de0d9;
}

.active {
    color: #8de0d9;
}


.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 7rem;
        flex-direction: column;
        background-color: #212121;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
        
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }



    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}



.jobTitle {
    color:#8de0d9;
    font-size: 12px;
    margin: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1fr ;
    grid-template-areas:
    "section1 section2 section2 section3"
    "video1 video1 video1 video1"
    "SB1 SB2 SB3 SB4"
    
    "process1 process1 process2 process2"
    "storyline storyline storyline storyline"
    "summarize summarize summarize summarize"
    "targetuser targetuser calltoaction build"
    "footer footer footer footer";
    grid-gap: 0.5rem;

}


@media only screen and (min-width: 551px) and (max-width:991px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "section2"
        "video1"
        "SB1"
        "SB2"
        "SB3"
        "SB4"
        "process1"
        "process2"
        "storyline"
        "image4"
        "footer";
         
    }
    
}

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "section2"
        "video1"
        "SB1"
        "SB2"
        "SB3"
        "SB4"
        "process1"
        "process2"
        "storyline"
        "image4"
        "footer";
    } 
}

#section2 {
    grid-area: section2;
    padding:15px;
    margin-top:15px;
    color:white;
    background-color:#0d7377;
    text-align:left;
    justify-content: center;
}


#video1 {
    margin:auto;
    grid-area:video1;
    text-align:center;
}

#sB1 {
    grid-area: SB1;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    align-content: center;  
    padding:15px;
    margin-top:25px;
}
#sB2 {
    grid-area: SB2;
    justify-content: center;
    padding:15px;
    margin-top:25px;
}
#sB3 {
  
    grid-area: SB3;
    padding:15px;
    
    margin-top:25px;
}
#sB4 {
    grid-area: SB4;
    padding:15px;
    margin-top:25px;
}

#process1 {
    grid-area: process1;
    justify-content: center;
    padding:15px;

}
#process2 {
    grid-area: process2;
    justify-content: center;
    padding:15px;

}



#storyline {
    grid-area:storyline;
    text-align:center;
    align-self:center;
    margin-top:25px;
    margin-bottom:25px;
}


#summarize {
    grid-area:summarize;
    align-self:center;
    padding:15px;
}
#targetuser{
    grid-area: targetuser;
    padding:15px
}

#calltoaction {
    grid-area: calltoaction;
    text-align:center;
    align-self:center;
    padding:15px
}

#build {
    grid-area: build;
    text-align:center;
    align-self:center;
    padding:15px
}


h1, h2 {
    font-family: 'monospace', sans-serif;
        color:black;
}



h3 {
    font-family: 'monospace', sans-serif;
        color:#d8761a;
}


p, li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    color:black;
    font-size:14px;
 }

.smileMug {
    max-width:20px;
    padding-right:5px;
  }

#footer {
    grid-area: footer;
    padding:15px;
    color:white;
    background-color:#0d7377;
    text-align:center;
    width:100%;
}

p {
    font-size:12px;
}

.aboutImage {
    width:100%;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size:14px;
    font-weight:none;
}

.footerIcons {
    color:#ffffff;
    padding:15px;
    margin-top:10px;
}