@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

html {
    font-size: 62.5%;
    font-family: 'monospace', sans-serif;
    overflow-x: hidden;
    width:100%
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    box-shadow: 0 4px 2px -2px gray;
}

.navbar {
    display: grid;
    grid-template-columns: 4fr 4fr;
    align-items:center;
    padding-left:30px;
    padding-right:30px;
    margin:auto;
    height: 125px;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: black;
}


.nav-item a{
    font-size: 14px;
    text-decoration:none;
    color: rgb(53, 53, 53);
    padding: 3rem;
    text-transform:uppercase;
}

.active, .nav-item a:hover{
    color: #16bcda;
    font-weight: bold;
}



/*.nav-link{
    font-size: 20px;
    text-decoration:none;
    color: rgb(53, 53, 53);
    padding: 3rem;
    text-transform:uppercase;
}

.nav-link:hover{
    color: #E82727;
    font-weight: bold;
}*/



@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        z-index: 1;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


@media only screen and (min-width: 769px) {
    #leftSection {
        margin-left: 16.66%; /* <- your value here */
        padding:0;
     }
     #rightSection {
        margin-left:4.15%; /* <- your value here */
     }

 }

 @media only screen and (min-width: 580px) and (max-width:770px) {
    .aboutText{
        font-size:12px;
    }
    #leftSection {
        margin-left: 16.66%; /* <- your value here */
        padding:0;
     }
     #rightSection {
        margin-left:4.15%; /* <- your value here */
     }


 }

 @media only screen and (min-width: 320px) and (max-width:480px) {
    .title a {
        font-size: 14px;
    }
    #rightSection {
        padding: 0 10px 0 10px;
    }
    
    .about-picture{
        width:65%;
        border-radius: 25%;
        margin:20px 0 20px 0;
        padding: 20px;
    }
 }



.movedown{
    margin-top:15px;
}

.title a{
    color: #16bcda;
    font-weight:bold;
    font-size:30px;

}
.title a:hover{
    color: rgb(53, 53, 53);
}

.mini-title {
    font-size:14px;
    color: #000000;
}

.mini-title a {
    
    font-family: "monospace", sans-serif;
    font-size:14px;
    
    color: #16bcda;
}
.mini-title a:hover {
    
    font-family: "monospace", sans-serif;
    font-size:14px;
    color: rgb(47, 47, 47);
}


/* Container of home page*/

.container-fluid {
    background:#fffbe4;
    width:100%;
    
}

.work-container-fluid {
    background: rgb(255, 255, 255);
    width: 100%;
}

.ux-front-page-image {
    width:100%;
    margin:20px 0 20px 0;
}

.front-page{
    width:60%;
    border-radius: 25%;
    margin:20px 0 20px 0;
}

.about-picture{
    width: 60%;
    border-radius: 25%;
    margin:20px 0 20px 0;
    padding-right: 10px;
}

hr {
   opacity:1;
    width: 50%;
    height: 4px;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    color:#16bcda;
 }

 .social-icon {
    margin:10px;
 }
 
.right-section {
    margin-top: 50px;
    
}

 .bigHello {
    font-size:70px;
 }

 .burgundyButton {
    background-color:#16bcda;
    padding: 4px 20px 4px 20px;
    margin: 10px;
    border-radius:10px;
    border:none;
    color:white;
    font-size:14px;
    
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    text-decoration: none;
 }

 .burgundyButton a { 
    color: #fff;
    font-size:14px;
    
 }
 
 .burgundyButton:hover{
    background-color: #16bcda;
    box-shadow: 7px 6px 10px 1px rgba(0, 0, 0, 0.24);
 }

 .burgundyButton a:hover{
    color: #fff;

 }

 .burgundyButton:active{
    -webkit-box-shadow: inset 5px 5px 5px #050303;
    
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
         box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
 }

 footer {
    padding:40px;
 }

 /*about page CSS*/

.aboutWhiteBox {
    background:white;
    padding:15px;
    border-radius: 0px 20px 0px 20px ;
    margin:auto;
    margin-top:10px;
}

.aboutText {
    margin-top:35px;
    margin-bottom:35px; 
}

.socialButtons {
    margin-top:20px;
}

@keyframes fadeIn0 {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}
#fadeIn0 {
    animation: 2s ease-in 0s 1 fadeIn0;
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}
#fadeIn1 {
    animation: 3s ease-in 0s 1 fadeIn1;
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}
#fadeIn2 {
    animation: 4s ease-in 0s 1 fadeIn2;
}


/*contact page*/

.contact {
    margin-top:40px;
}

.contactItems {
    margin:auto 0;
    padding:40px;
    
}

.contactHeader {
    font-family: "monospace", sans-serif;
    font-size:23px;
    padding:20px;
    margin: auto;
    margin-bottom: 40px;
    font-weight:bold;
}

.contactHeadText {
  
    font-family:'monospace', sans-serif;
    font-size:15px;
}

.contactMainText {
    
    font-family: "monospace", sans-serif;
    font-size:25px;
}

.contactMainText a {
    
    font-family: "monospace", sans-serif;
    font-size:25px;
    
    color: #16bcda;
}
.contactMainText a:hover {
    
    font-family: "monospace", sans-serif;
    font-size:25px;
    color: rgb(47, 47, 47);
}

.contactWhiteBox {
    background:white;
    width:90%;
    
    border-radius: 0px 20px 0px 20px ;
    margin:auto;
    margin-bottom:20px;
}

.card-title a {
    font-size:16px;
}

.card-text a {
    font-size:12px;
}
/*work page animation top slide in from right*/

@keyframes slideInFromRight0 {
    0% {
        transform: translateX(500%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight1 {
    0% {
        transform: translateX(600%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight2 {
    0% {
        transform: translateX(700%);
    }
    100% {
        transform: translateX(0);
    }
}

#animateProjects0 {
    animation: 2s ease-out 0s 1 both slideInFromRight0;
}
#animateProjects1 {
    animation: 2s ease-out 0s 1 both slideInFromRight1;
}
#animateProjects2 {
    animation: 2s ease-out 0s 1 both slideInFromRight2;
}

/*work page animation bottom slide in from left*/

@keyframes slideInFromLeftA {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeftB {
    0% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeftC {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0);
    }
}

#animateProjectsA {
    animation: 2s ease-out 2s 1 both slideInFromLeftA;
}
#animateProjectsB {
    animation: 2s ease-out 2s 1 both slideInFromLeftB;
}
#animateProjectsC {
    animation: 2s ease-out 2s 1 both slideInFromLeftC;
}


.card:hover{
    transition:  .5s ease-in-out;
    transform:scale(1.1);

}


.faq {
    background-color:transparent;
    border: 1px solid #9fa4a8;
    border-radius:10px;
    
    padding: 30px;
    
    overflow:hidden;
    transition: 0.3s ease;
}
.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.faqTitle {
    
    color:#16bcda;
    font-size:20px;
    font-weight: bold;
    text-align:center;
  
}

.faq.active .faqTitle {
    color:#3d91ce;
}

.faqText {
    display:none;
    margin: 30px 0 0;
    font-size:20px;
    

}

.faq.active .faqText {
    display:block;
    
}

.faqToggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: end;
    align-items: center;
    justify-content: center;
    font-size:16px;
    padding:0;
    
    border-radius: 50%;
}

.faqToggle:focus {
    outline:0;
}

.faqToggle .fa-times {
    display:none;
}
.faq.active .faqToggle .fa-times {
    color:#3d91ce;
    display:block;
    background: transparent;
}

.faq.active .faqToggle .fa-chevron-down {
    display:none;
}


/*form*/
form {
    margin:0 auto;
    padding:25px;   


}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  form li + li {
    margin-top: 10px;
  }
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-size:18px;
  }

  input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font-family: "monospace", sans-serif;
    font-size:18px;
    padding:10px;
    border-radius: 5px;
  /* Uniform text field size */
  width: 100%;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid rgb(82, 82, 82);
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #16bcda;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    
    /* Provide space to type some text */
    height: 100px;
  }

 
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin:auto;

  }


/*cafe cravings css grid 

.container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    grid-template-rows: auto;
    gap: 5px;
    background: #E2D9DA;

}

.topLeftText{
    background-color: #6699ff;
    grid-column: span 4;
    grid-row:span 1;
    padding:10px;
    text-align:left;
    
}
.topRightText{
    background-color: #f266ff;
    grid-column: span 8;
    
    grid-row: span 1;
    padding:20px 10px 10px 10px;
    text-align:right;
}


.menuImagesLeft{
    grid-column: span 4;
    
    grid-row: 2 / span 1;
    text-align:center;
    
}
.menuImagesRight{
    grid-column: span 8;
    
    grid-row: 2 / span 1;
    text-align:center;
    
}


.footer {
    grid-column: 1 / -1;
    grid-row: 12 /-1;
}

.coffeeMenu {
    width: 75%;
}


.navbar {
    display: grid;
    grid-template-columns: 4fr 4fr;
    align-items:center;
    padding-left:30px;
    padding-right:30px;
    margin:auto;
    height: 125px;
}
*/
