@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    font-size:62.5%;
    font-family: 'Roboto,' sans-serif;
}
li {
    list-style: none;
}

a {
    text-decoration:none;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0 ;
    padding:0;
    background-color: #212121;
    color:white;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.header{
    border-bottom: .2rem solid #0d7377;
    box-shadow:
            0 0.62rem 1.688rem 0 #000000;
    margin: auto 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
width:100%;
    padding: 2rem 2.5rem;
    background-color:#323232;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 1.563rem;
    height: 0.188rem;
    margin: 0.313rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}



.nav-link{
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
}

.nav-link:hover{
    color: #8de0d9;
}

.active {
    color: #8de0d9;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 7rem;
        flex-direction: column;
        background-color: #212121;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
   
    }

    .nav-item {
        margin: 2.5rem 0;
        
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }



    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}

.jobTitle {
    color:#8de0d9;
    font-size: 12px;
    margin: 0;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "title1 title2 title2 title3"
    "section1 section2 section3 section4"
    "section5 section6 section7 section8"
    "section9 section10 section11 section12"
    "footer footer footer footer";
    grid-gap: 0.5rem;
}

@media only screen and (min-width: 551px) and (max-width:991px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "title2"
        "section2"
        "section3"
        "section6"
        "section7"
        "section10"
        "section11"
        "footer";
    }   
}

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "title2"
        "section2"
        "section3"
        "section6"
        "section7"
        "section10"
        "section11"
        
        "footer";  
    } 
}



.indexImages img{
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  #title2 {
    grid-area: title2;
    padding:15px;
    margin-top:15px;
    color:white;
    background-color:#0d7377;
    text-align:left;
    justify-content: center;
}

#section2 {
    grid-area: section2;

    margin:15px;
    color:white;
    background-color:#212121;
    text-align:center;

    box-shadow:
            0 0.62rem 1.688rem 0 #000000;
}

#section2:hover {
    -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -ms-transform: scale(0.95, 0.95);
  /* IE 9 */
  -webkit-transform: scale(0.95, 0.95);
  /* Safari */
   transform: scale(0.95);
}
#section3 {
    grid-area: section3;
    margin:15px;
    color:white;
    background-color:#212121;
    text-align:center;
    box-shadow:
    0 0.62rem 1.688rem 0 #000000;
}

#section3:hover {
    -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -ms-transform: scale(0.95, 0.95);
  /* IE 9 */
  -webkit-transform: scale(0.95, 0.95);
  /* Safari */
   transform: scale(0.95);
}



#section6 {
    grid-area: section6;

    margin:15px;
    color:white;
    background-color:#212121;
    text-align:center;
    
    box-shadow:
    0 0.62rem 1.688rem 0 #000000;
}
#section6:hover {
    -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -ms-transform: scale(0.95, 0.95);
  /* IE 9 */
  -webkit-transform: scale(0.95, 0.95);
  /* Safari */
   transform: scale(0.95);
}



#footer {
    grid-area: footer;

    padding:20px;
    color:white;
    background-color:#0d7377;
    text-align:center;
    width:100%;

}

p {
    font-size:12px;
}

h3 {
    font-size:14px;
    font-weight:none;
}

.footerIcons {
    color:#ffffff;
    padding:15px;
    margin-top:10px;
}